
PlagueButtonAPIExample/.vs/PlagueButtonAPIExample/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.cache
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/Normal/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/Normal/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/Normal/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/VRChat Mods Folder/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/VRChat Mods Folder/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/VRChat Mods Folder/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PlagueButtonAPIExample/PlagueButtonAPIExample/PlagueButtonAPIExample.csproj
*.dll
*.pdb
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/Normal/PlagueButtonAPIExample.csproj.FileListAbsolute.txt
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/VRChat Mods Folder/PlagueButtonAPIExample.csproj.FileListAbsolute.txt
PlagueButtonAPIExample/PlagueButtonAPIExample/obj/VRChat Mods Folder/build.force
/PlagueButtonAPIExample/ExampleButtonAPIUsage/obj/Release
*.suo
/PlagueButtonAPIExample/PlagueButtonAPI/obj
